*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.p{
    text-align: center;
    font-size: 60px;
    padding-left: 50px;
    
}
.q a{

display:inline-block;
color: rgb(255, 0, 0);
padding: 15px 20px;
text-decoration: hotpink;
font-size: 17px; 


}
.q{
    background-color: rgba(255, 255, 0, 0.288);
    overflow: hidden;
    display: flex;
    float: right;
    margin-left: 40px;
    
}
.q a:hover{
    background-color: rgb(245, 5, 5);
    color: rgb(255, 255, 255);
    border-bottom: 3px solid rgb(194, 177, 177);
    
    
}

body{
    background-image:linear-gradient(rgba(122, 119, 119, 0.06),rgba(67, 66, 66, 0.06)),url('./ktm-390-duke-motorcycle-hd-wallpaper-1920x1200-10447.jpg') ;
    background-size: cover;
    background-repeat: no-repeat;

}
.rock{
    background-color: rgb(255, 253, 253);
}
.rock  ul li {
    display:inline-block;
    float: left;
    margin-left: 30px;
    padding-left: 25px 10px;
background-color:rgb(148, 154, 26) ;
text-decoration: none;
font-size: 20px;
}
.rock :hover{
    background-color: rgb(247, 8, 8);
    color: aliceblue;
    border-left-width: 40px solid black ;
}
.qw{
    position: absolute;
    bottom: 0%;
    color: rgb(255, 0, 0);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-left: 1160px;
    
}

